body{
    font-family: Arial,Tahoma,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
#section_normal_1 {
    padding: 23px;
    border-bottom: 8px solid;
    border-bottom-color:#878787;
}
.container{

}